<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计数据</title>
</head>
<body>
<p>下面是所有搜索结果：</p>
{% if query_statistic_list %}
    <ul>
        {% for query_statistic_data in query_statistic_list %}
            <li>
                <a href="/housing_price_analyzer/house_price_data/query_id={{ query_statistic_data.id }}/">{{ query_statistic_data.id }},{{ query_statistic_data.update_date }},{{ query_statistic_data.query_result }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No information is available.</p>
{% endif %}
</body>
</html>